/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.main-title {
  font-size: 2rem;
  padding: 20px;
}

/* Layout for images */
section {
  padding: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-box {
  flex: 1;
  max-width: 400px;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-box img:hover {
  transform: scale(1.05);
}

/* Media Queries for responsive design */
@media (min-width: 601px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  /* Change background color for screens smaller than 768px */
  body {
    background-color: #13e77d;
  }
}

@media (max-width: 600px) {
  .main-title {
    font-size: 1.5rem;
  }

  /* Change background color for screens smaller than 480px */
  body {
    background-color: #361572;
  }

  .image-box img {
    border-radius: 4px;
  }
}
